.form-area {
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
  width: 400px;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "Arial", sans-serif;
}

.form-group {
  position: relative;
  height: 8vh;
  margin-bottom: 50px;
}

/*.form-group label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-area button.login {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  color: #2c05f2;
}*/

.form-area a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.form-area {
  display: flex;
  flex-direction: column;
}

/*.form-area button.login {
  background-color: #fff;
  color: #2c05f2;
  padding: 8px 75px;
  font-size: 0.9em;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.form-group input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.form-group input::placeholder {
  color: #fff;
  font-size: 16px;
}

.form-group i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.form-area button.login {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.form-area .register-link{
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 15px;
}


