.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.content div form{
    display: inline-grid;
    flex-direction: column;
    background-color: #3282F6;
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
    font-family: 'Arial', sans-serif;
    width: 90%; 
    margin-bottom: 20px;
}
.content label{
    display: flex;
}

.content button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
}

