.createEvent form {
    display: flex;
    flex-direction: column;
}

.createEvent form input, textarea{
    background-color: #4f4c4c;
}

.createEvent form .categoriesSelection {
    display: flex;
    flex-direction: column; 
    margin-top:10px ;
}

.createEvent form .categoriesSelection div label{
    display: inline-flex;
    margin-right: 170px;
}

