.eventSub{
    display: inline-grid;
    background-color: #fff;
}

.eventSub input, textarea{
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px;
}

.eventSub label{
    display: flex;
    color: blue;
}
