.festival-details {
    font-family: 'Arial', sans-serif; 
    max-width: 1200px; 
    margin: auto;
    padding: 20px;
    color: #333; 
  }

  .festival-details form{
    display: inline-grid;
    flex-direction: column;
    background-color: #3282F6;
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
    font-family: 'Arial', sans-serif;
    width: 90%;
    margin-bottom: 20px;
  }

  .festival-details form p{
    color: black;
  }

  .festival-details h1 {
    font-size: 4em; 
    color: #FF00FF;
    margin-bottom: 0.5em;
    text-transform: uppercase; 
    display: flex;
  }

  .festival-details p {
    font-size: 1em;
    line-height: 1.6; 
    margin-bottom: 1em;
    color: #fff;
    text-transform: capitalize;
    display: flex;
  }

  .festival-details .details {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  

  .festival-details ul {
    list-style: none; 
    padding: 0; 
    margin-bottom: 1em;
  }
  
  .festival-details li {
    background-color: #EFEFEF; 
    display: inline-block; 
    padding: 0.5em 1em; 
    margin: 0.5em;
    border-radius: 5px;
  }
  
  .festival-details button {
    background-color: #1045e4;
    color: #ff83d5;
    border-radius: 0;
    width: 100%;
    letter-spacing: 10px;
    font-size: 23px;
    line-height: 23px;
    font-weight: 500;
    font-style: italic;
    transition: all .5s;
    text-transform: uppercase;
    padding: 25px 0;
  }

  .subscription-details div form{
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
    width: 400px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
  }

  .subscription-details div form h3{
    color: #fff;
    text-transform: uppercase;
  }
  
  .subscription-details div form p{
    color: #fff;
  }
  @media (max-width: 768px) {
    .festival-details h1 {
      font-size: 2em;
    }
  
    .festival-details .btn {
      width: 100%; 
      text-align: center; 
    }
  }
  