.userArea {
    background-color: #3282F6; /* Cor de fundo azul */
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    margin: 100px auto; /* Ajuste conforme necessário para centralizar */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white; /* Texto branco */
    font-family: 'Arial', sans-serif; /* Fonte padrão */
}

.userArea label {
    margin-bottom: 15px;
    font-weight: 600;
    display: flex;
}

.userArea input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.userArea button.login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff; 
    color: #2C05F2;
}

.userArea form {
    margin-bottom: 20px;
}

/* Link para 'Esqueceu a senha?' e 'Cadastre-se' */
.userArea a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

/* Botão de cadastro com estilo diferente */
.userArea button.register {
    background-color: transparent;
    color: white;
    border:none;
    padding: 8px 16px; /* Ajuste o padding conforme necessário */
    font-size: 0.9em; /* Ajuste o tamanho da fonte se necessário */
    margin: 5px auto; /* Reduz a margem externa */
    display: block;
    width: fit-content;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}


/* Remove o float e utiliza flex para melhor alinhamento e responsividade */
.userArea {
    display: flex;
    flex-direction: column;
}

/* Ajusta o espaçamento e alinhamento dos botões */
.userArea button.login {
    background-color: #fff; 
    color: #2C05F2;
    padding: 8px 75px;
    font-size: 0.9em; 
    margin: 10px 0;
    border-radius: 20px; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: fit-content; 
    display: block;
    margin-left: auto; /* Centraliza o botão na div */
    margin-right: auto; /* Centraliza o botão na div */
}


/* Ajusta a cor do texto dos inputs para contraste com o fundo */
.userArea input {
    color: #333;
    background-color: white;
}

/* Ajusta o espaçamento e alinhamento do formulário */
.userArea form {
    display: flex;
    flex-direction: column;
}

.registerBtn label {
    display: block;
    text-align: center;
    margin-bottom: -15px; /* Valor reduzido para diminuir o espaço entre o label e o botão */
    font-size: 0.9em; /* Ajuste o tamanho da fonte se necessário */
}
