.userArea {
    background-color: #3282F6;
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    margin: 100px auto; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white; 
    font-family: 'Arial', sans-serif; 
}

.userArea label {
    margin-bottom: 15px;
    font-weight: 600;
    display: flex;
}

.userArea input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.userArea button.login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff; 
    color: #2C05F2;
}

.userArea form {
    margin-bottom: 20px;
}

.userArea a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.userArea button.register {
    background-color: transparent;
    color: white;
    border:none;
    padding: 8px 16px; 
    font-size: 0.9em; 
    margin: 5px auto;
    display: block;
    width: fit-content;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.userArea {
    display: flex;
    flex-direction: column;
}

.userArea button.login {
    background-color: #fff; 
    color: #2C05F2;
    padding: 8px 75px;
    font-size: 0.9em; 
    margin: 10px 0;
    border-radius: 20px; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: fit-content; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.userArea input {
    color: #333;
    background-color: white;
}

.userArea form {
    display: flex;
    flex-direction: column;
}

.registerBtn label {
    display: block;
    text-align: center;
    margin-bottom: -15px;
    font-size: 0.9em; 
}
