@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

.company-creation-send {
  width: 100%;
  height: 90vh;
}

.container-company {
  position: absolute;
  height: 80vh;
  margin-top: 50px;
  margin-left: 50px;
}

.head-title {
  font-size: 5em;
  text-align: left;
  color: #eceaea;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .head-title {
    font-size: 2em;
  }
}

.button {
  width: 30%;
  height: 45px;
  background: #eceaea;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}

.button:hover {
  background: #cecece;
  color: black;
}
