.festivais-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin: 300px auto 100px auto;
  max-width: 90%;
}

.festival-item {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.5s;
  height: 250px;
}

.festival-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(0.9);
}

.festival-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.festival-info {
  position: relative;
  padding: 10px;
  color: #fff;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.82);
  z-index: 2;
}

.festival-info h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em 0;
}

.festival-info p {
  margin: 0 0 0.5em;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.festival-info ul,
.festival-info h4 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.festival-item-link {
  text-decoration: none;
  color: black;
}

.festival-item-date {
  background-color: black;
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
}

.festival-info-location {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.festival-info-location-icon {
  margin-right: 5px;
}

.festival-info ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.festival-info li {
  flex: 0 0 calc(50% - 10px); /* Adjust the width as needed */
  margin: 5px;
  box-sizing: border-box;
}

.loading {
  color: white;
  font-size: 1.7rem;
  margin-top: 20%;
}
